body {
	background-color: #262626;
}

h1 {
	padding-top: 50px;
	text-align: center;
	color: white;
	font-family: "Consolas";
}

p {
	color: white;
	text-align: center;
	font-family: monospace;
	font-size: 17px;
}

div.link {
	text-align: center;
	color: white;
	font-family: monospace;
	font-size: 15px;
}

a {
	color: #463AC9;
}

div.subtitle {
	text-align: center;
	color: white;
	font-family: monospace;
	font-size: 20px;
}

.bluetext {
	padding-top: 50px;
	text-align: center;
	color: #463AC9;
	font-family: "Consolas";
}

.horizontal-divider {
    opacity: 1;
    border-bottom: 3px solid #463AC9;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
	font-family: monospace;
	font-size: 15px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #463AC9;
}
